<!-- Footer -->
<footer class="mt-3">
    <div class="logo mt-4"><a href="/">Abdullah Blog</a></div>
    <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100083643485686"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.linkedin.com/in/abdullah-muhammed-95b143216/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/abdullah-muhammedd?tab=overview&from=2021-07-01&to=2021-07-31"><i class="fa-brands fa-square-github"></i></a>
    </div>
    <div class="copyright">
        <p>All Rights Reserved For Adullah Muhammed &copy; 2023</p>
    </div>
</footer>
<!-- End Footer -->
