<!-- Start Header -->
<header class="container">
    <div class="row mt-3">
        <div class="logo col-8"><a href="/">Abdullah Blog</a></div>
        <nav class="col-4">
            <ul class="pt-auto">
                <li><a href="/" class="p-3">Home</a></li>
                <li><a href="/about" class="p-3">About</a></li>
                <li><a href="/createnewblog" class="p-3">New Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- End Header -->
<hr>