<%-include("../Views/Partials/smallHeighHead.ejs")%>

<body>
    <%-include("../Views/Partials/header.ejs")%>
    <!-- About -->
    <div class="container mt-5 mb-5">
        <p>
            <i class="fa-solid fa-triangle-exclamation h2"></i>
            <h2>Error 404 Not Found :(</h2>
        </p>
    </div>
    <!-- About -->
    <%-include("../Views/Partials/footer.ejs")%>
    <script src="JS/all.min.js"></script>
    <script src="bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
</body>

</html>