<%-include("../Views/Partials/smallHeighHead.ejs")%>
<body>
    <%-include("../Views/Partials/header.ejs")%>
    <!-- About -->
    <div class="about-section container mt-5 mb-5">
        <h1>Abdullah Muhammed</h1>
        <p>
            Hi, I am Abdullah, a student at the Faculty of Computers and Information at Assiut University, I chose the field of
            software engineering in particular because it did not fail once to keep me ambitious or excited and will always make me
            continue to learn, and this is my goal in life: “to maintain a steady pace of progress”.
            I always love to acquire new skills as I am a passionate person.
            Although there are many difficulties, I always try to keep myself motivated and ready to deal with badass moments.
            I can define myself as a person who does not want to take a lot of risks, but some spices are required from time to time
        </p>
    </div>
    <!-- About -->
    <%-include("../Views/Partials/footer.ejs")%>
    <script src="JS/all.min.js"></script>
    <script src="bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
</body>

</html>